---
appConfig:
  theme: colorful
  customCss: >-
    @media (min-width: 1780px) { .home
    .item-group-container:not(.item-size-large) { grid-template-columns:
    repeat(3, 1fr); } } .home .item-group-container.item-size-large
    .item-group-grid, .home .item-group-container.orientation-vertical
    .item-group-grid { display: flex !important; }
  layout: auto
  iconSize: medium
  language: en
pageInfo:
  title: My Homelab
  description: Yo, wazzup!
  navLinks:
    - title: Dashy Docs
      path: https://dashy.to/docs
      target: newtab
  footerText: ''
sections:
  - name: Home Lab
    icon: fas fa-rocket
    items:
      - title: ''
        description: M1
        icon: hl-proxmox
        url: https://m1.{{ global_domain }}:8006/
        target: newtab
        statusCheck: true
        id: 0_696_m
      - title: ''
        description: M2
        icon: hl-proxmox
        url: https://m2.{{ global_domain }}:8006/
        target: newtab
        statusCheck: true
        id: 1_696_m
      - title: ''
        description: M3
        icon: hl-proxmox
        url: https://m3.{{ global_domain }}:8006/
        target: newtab
        statusCheck: true
        id: 2_696_m
      - title: ''
        description: Traefik
        icon: hl-traefik
        url: https://traefik.{{ global_domain }}/
        target: newtab
        statusCheck: true
        id: 3_696_traefik
      - title: ''
        description: Portainer
        icon: hl-portainer
        url: https://portainer.{{ global_domain }}/#!/auth
        target: newtab
        statusCheck: true
        id: 4_696_portainer
      - title: ''
        description: Grafana
        icon: hl-grafana
        url: https://grafana.{{ global_domain }}/?orgId=1
        target: newtab
        statusCheck: true
        id: 5_696_grafana
      - title: ''
        description: Prometheus
        icon: hl-prometheus
        url: http://prometheus.{{ global_domain }}:9090/
        target: newtab
        statusCheck: true
        id: 6_696_prometheus
      - title: ''
        description: Uptime Kuma
        icon: hl-uptime-kuma
        url: https://kuma.{{ global_domain }}/dashboard
        target: newtab
        statusCheck: true
        id: 7_696_uptimekuma
    displayData:
      itemSize: large
      sortBy: default
      cols: 2
      collapsed: false
      hideForGuests: false
      sectionLayout: grid
      itemCountX: 3
  - name: Work
    icon: fas fa-analytics
    items:
      - title: LinkedIn
        description: LinkedIn profile
        icon: favicon
        url: https://www.linkedin.com/in/israelfarfan/
        target: newtab
        id: 0_419_linkedin
      - title: Github Resume
        description: ''
        icon: favicon
        url: https://ifarfan.github.io/
        target: newtab
        id: 1_419_githubresume
      - title: Github
        icon: favicon
        url: https://github.com/ifarfan
        target: newtab
        id: 2_419_github
  - name: Content
    icon: fas fa-sparkles
    displayData:
      itemSize: large
      sortBy: most-used
      sectionLayout: grid
      itemCountX: 2
      collapsed: false
      hideForGuests: false
      rows: 1
      cols: 1
    items:
      - title: ''
        description: DS1
        icon: hl-synology-dsm
        url: http://ds1.{{ global_domain }}:5000/
        target: newtab
        id: 0_836_ds
      - title: ''
        description: Plex
        icon: hl-plex
        url: https://plex.{{ global_domain }}/web/index.html
        target: newtab
        id: 1_836_plex
      - title: ''
        description: yts.pm
        icon: favicon
        url: https://yts.pm/
        target: newtab
        id: 2_836_ytspm
