---
# For configuration options and examples, please see:
# https://github.com/benphelps/homepage/wiki/Bookmarks


-
  Career:
    -
      LinkedIn:
        - abbr: LI
          href: https://www.linkedin.com/in/israelfarfan/
    -
      Github Resume:
        - abbr: GR
          href: https://ifarfan.github.io/
-
  Entertainment:
    -
      Plex:
        - abbr: PX
          href: https://plex.{{ global_domain }}/web/index.html
    -
      YTS.pm:
        - abbr: YT
          href: https://yts.pm/
-
  Misc:
    -
      Todoist:
        - abbr: TD
          href: https://todoist.com/app/today
    -
      r/minilab:
        - abbr: RM
          href: https://www.reddit.com/r/minilab/
    -
      r/homelab:
        - abbr: RH
          href: https://www.reddit.com/r/homelab/
