---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks/
-
  AI:
    -
      ChatGPT:
        - icon: chatgpt.png
          href: https://chatgpt.com/
    -
      Gemini:
        - icon: google-gemini.png
          href: https://gemini.google.com/app
    -
      NapkinAI:
        - icon: mdi-chart-box
          href: https://app.napkin.ai/
    -
      NotebookLM:
        - icon: mdi-book-open
          href: https://notebooklm.google.com/
    -
      Perplexity:
        - icon: mdi-head-question-outline
          href: https://www.perplexity.ai/
    -
      Claude:
        - icon: mdi-head-question-outline
          href: https://claude.ai/
-
  Books:
    -
      Anna's Archive:
        - icon: mdi-book
          href: https://annas-archive.li/
    -
      Library Genesis:
        - icon: mdi-book
          href: https://libgen.st/fiction/
    -
      eBook Hunter:
        - icon: mdi-book
          href: https://ebook-hunter.org/
    -
      r/libgen:
        - icon: reddit.png
          href: https://www.reddit.com/r/libgen/
    -
      z-library:
        - icon: mdi-book
          href: https://z-library.sk/
-
  "Tech + Career":
    -
      LinkedIn:
        - icon: linkedin.png
          href: https://www.linkedin.com/in/israelfarfan/
    -
      Github Resume:
        - icon: github-light.png
          href: https://ifarfan.github.io/
    -
      r/minilab:
        - icon: reddit.png
          href: https://www.reddit.com/r/minilab/
    -
      r/homelab:
        - icon: reddit.png
          href: https://www.reddit.com/r/homelab/
-
  Media:
    -
      FMHY:
        - icon: mdi-book
          href: https://fmhy.net/
    -
      HD Audio:
        - icon: mdi-music-box
          href: https://flacmania.biz/
    -
      yts.lt:
        - icon: mdi-movie
          href: https://yts.lt/
    -
      r/piracy:
        - icon: reddit.png
          href: https://www.reddit.com/r/Piracy/wiki/megathread/books/
    -
      r/freemediaheckyeah:
        - icon: reddit.png
          href: https://www.reddit.com/r/FREEMEDIAHECKYEAH/wiki/reading/
-
  Philly:
    -
      Rental License:
        - icon: mdi-license
          href: https://eclipse.phila.gov/phillylmsprod/pub/lms/Login.aspx
    -
      Tax Center:
        - icon: mdi-cash-multiple
          href: https://tax-services.phila.gov
    -
      "311":
        - icon: mdi-information-outline
          href: https://iframe.publicstuff.com/#?client_id=242
