---
# For configuration options and examples, please see:
# - https://gethomepage.dev/configs/services/#docker-integration
# - https://gethomepage.dev/configs/docker/
apps-local-docker:
  socket: /var/run/docker.sock

tailscale-docker:
  host: tailscale-lxc.macminis.net
  port: 2375

devbox-docker:
  host: devbox-lxc.macminis.net
  port: 2375

arr-docker:
  host: arr-lxc.macminis.net
  port: 2375
