---
# Look 'n Feel
title: Homelab | Dashboard
headerStyle: clean
color: slate  # comment out to use page palette, instead
background:
  # image: https://images.unsplash.com/photo-1637032482680-0f7086963a67
  # image: https://images.unsplash.com/photo-1582185143928-599a75bbe975
  # blur: sm              # sm, "", md, xl see https://tailwindcss.com/docs/backdrop-blur
  brightness: 80        # 0, 50, 75      see https://tailwindcss.com/docs/backdrop-brightness
  # opacity: 85           # 0-100
  # saturate: 50          # 0, 50, 100     see https://tailwindcss.com/docs/backdrop-saturate
statusStyle: "dot"

# Layout
layout:
  Hardware:
    style: row
    columns: 4
    icon: mdi-server-network
    useEqualHeights: true
  System:
    style: row
    columns: 2
    icon: mdi-cog-outline
    useEqualHeights: true
    Network:
      style: row
      columns: 2
      icon: mdi-network-pos
      useEqualHeights: true
    Monitoring:
      style: row
      columns: 2
      icon: mdi-eye-outline
      useEqualHeights: true
  Internal:
    style: row
    columns: 2
    icon: mdi-web-sync
    useEqualHeights: true
    Internal Apps:
      style: row
      columns: 2
      icon: mdi-web-check
      useEqualHeights: true
    Internal Services:
      style: row
      columns: 2
      icon: mdi-filter-cog-outline
      useEqualHeights: true
  External Vendors:
    style: row
    columns: 4
    icon: mdi-web
    useEqualHeights: true
  High Seas:
    style: row
    columns: 2
    icon: mdi-pirate
    useEqualHeights: true
    initiallyCollapsed: true
    Arr Stack:
      style: row
      columns: 2
      icon: mdi-download-network
      useEqualHeights: true
    Arr Downloads:
      style: row
      columns: 1
      icon: mdi-cloud-download
      useEqualHeights: true

# Other
providers:
  finnhub: {{ homepage_finnhub_token }}
quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true
  showSearchSuggestions: true
  hideVisitURL: true
  provider: google
