---
title: Homelab | My Dashboard
backgroundOpacity: 0.7
color: slate
headerStyle: boxed
layout:
  Hardware:
    style: row
    columns: 4
    icon: mdi-server-network
  System Apps:
    style: row
    columns: 3
    icon: mdi-cog-outline
  Monitoring:
    style: row
    columns: 3
    icon: mdi-eye-outline
  Internal Apps:
    style: row
    columns: 3
    icon: mdi-web-check
  External Apps:
    style: row
    columns: 3
    icon: mdi-web
