---
# For configuration options and examples, please see:
# https://github.com/benphelps/homepage/wiki/Information-Widgets
- resources:
    expanded: true
    cpu: true
    memory: true
    disk: /var/lib/docker

- search:
    provider: [google, bing, duckduckgo]
    target: _blank

- openweathermap:
    label: Philadelphia
    latitude: 39.98
    longitude: -75.13
    units: imperial
    provider: openweathermap
    apiKey: {{ homepage_openweathermap_api }}
    cache: 5
    format:
      maximumFractionDigits: 1
