- name: Feeds
  columns:
    - size: full
      widgets:
        - type: split-column
          max-columns: 2
          widgets:
            - $include: feeds-reddit.yml
            - $include: feeds-rss.yml
