---
- name: Configure homepage
  block:

    - name: Create app directories
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: 0755
      with_items:
        - "{{ homepage_directory }}"
        - "{{ homepage_directory_config }}"

    - name: Copy docker-compose file
      ansible.builtin.template:
        src: docker-compose.yml.j2
        dest: "{{ homepage_directory }}/docker-compose.yml"
        owner: root
        group: root
        mode: 0644

    - name: Copy config files
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: "{{ homepage_directory_config }}/{{ item }}"
        owner: root
        group: root
        mode: 0644
      with_items:
        - bookmarks.yaml
        - docker.yaml
        - services.yaml
        - settings.yaml
        - widgets.yaml

    - name: Create and start app
      community.docker.docker_compose_v2:
        project_src: "{{ homepage_directory }}"
        recreate: always
        pull: missing
        remove_orphans: true
        remove_volumes: true
        state: restarted

    - name: Wait until site is up
      ansible.builtin.uri:
        url: "https://{{ homepage_uri }}/"
        validate_certs: true
        status_code:
          - 200
      register: uri_output
      until: uri_output.status == 200
      delay: 10
      retries: 12       # Retries for 12 * 10 secs = 120 secs = 2 mins

  tags: homepage
