---
links:
-
  name: Github
  link: https://github.com/ifarfan
  icon: Github
  desc: Github Repos
-
  name: Cloudflare
  link: https://dash.cloudflare.com/
  icon: WeatherCloudy
  desc: DNS Hosting
-
  name: CircleCI
  link: https://app.circleci.com/projects/project-dashboard/github/ifarfan/
  icon: AccountCircle
  desc: Hosted CI/CD
-
  name: Docker Hub
  link: https://hub.docker.com/
  icon: Docker
  desc: Hosted Container Registry
-
  name: Tailscale
  link: https://login.tailscale.com/admin/machines
  icon: Vpn
  desc: ZeroTrust VPN
