---
categories:
  -
    id: 1
    title: Tech
  -
    id: 2
    title: Content
  -
    id: 3
    title: Food
  -
    id: 4
    title: Shopping
  -
    id: 5
    title: Freelancing
  -
    id: 6
    title: Finance

links:
  -
    name: 示例链接
    link: https://link.example.com
    icon: checkDecagram
    category: 1
  -
    name: 示例链接
    link: https://link.example.com
    icon: eraser
    category: 1
  -
    name: 示例链接
    link: https://link.example.com
    icon: mastodon
    category: 1
  -
    name: 示例链接
    link: https://link.example.com
    icon: alphaACircleOutline
    category: 1
  -
    name: 示例链接
    link: https://link.example.com
    icon: flask
    category: 1
  -
    name: 示例链接
    link: https://link.example.com
    icon: sofaOutline
    category: 2
  -
    name: 示例链接
    link: https://link.example.com
    icon: BowArrow
    category: 2
  -
    name: 示例链接
    link: https://link.example.com
    icon: messageCog
    category: 2
  -
    name: 示例链接
    link: https://link.example.com
    icon: alphaRCircleOutline
    category: 2
  -
    name: 示例链接
    link: https://link.example.com
    icon: cityVariantOutline
    category: 2
  -
    name: Hello
    link: https://link.example.com
    icon: foodCroissant
    desc: Some hello text
    category: 3
  -
    name: 示例链接
    link: https://link.example.com
    icon: KeyboardOutline
    category: 3
  -
    name: 示例链接
    link: https://link.example.com
    icon: alphaFCircleOutline
    category: 3
  -
    name: 示例链接
    link: https://link.example.com
    icon: alphaECircleOutline
    category: 3
  -
    name: 示例链接
    link: https://link.example.com
    icon: alphaYCircleOutline
    category: 3
  #
  # Shopping
  #
  -
    name: Superior Leather Restorers
    link: http://www.superiorleathernyc.com/contact.html
    icon: sproutOutline
    category: 4
  -
    name: HIGHRESAUDIO
    link: https://www.highresaudio.com/en/site/index
    icon: sproutOutline
    category: 4
  -
    name: La Edad De Oro Del Pop Español (1978-1990) (CD, Spain, 2001)
    link: https://www.discogs.com/sell/release/1606297
    icon: sproutOutline
    category: 4
  #
  # Freelancing
  #
  -
    name: Should I Incorporate?
    link: https://www.freelancetaxation.com/should-i-incorporate
    icon: accountSupervisorCircle
    category: 5
  -
    name: Should Freelancers Incorporate in 2018?
    link: https://contently.net/2018/03/07/trends/freelancers-incorporate-2018/
    icon: sproutOutline
    category: 5
  -
    name: What Every U.S. Freelancer Should Do Before Starting Your Next Project
    link: https://www.upwork.com/hiring/for-freelancers/what-every-u-s-freelancer-should-do-before-starting-your-next-project/
    icon: sproutOutline
    category: 5
  -
    name: Apply for an Employer Identification Number EIN Online
    link: https://www.irs.gov/businesses/small-businesses-self-employed/apply-for-an-employer-identification-number-ein-online
    icon: sproutOutline
    category: 5
  -
    name: Business Checklists
    link: https://www.businessexpress.ny.gov/app/dashboard/checklist/detail/checklist_id/b121858fa2a3e6375ad102ce14e2e219630c96abf5edd934ffe6f74111182cb0
    icon: sproutOutline
    category: 5
  -
    name: Deducting &quot;Ordinary and Necessary&quot; Business Expenses
    link: https://www.nolo.com/legal-encyclopedia/small-business-tax-deductions-30052.html
    icon: sproutOutline
    category: 5
  -
    name: The Top Tax Deductions for Your Small Business
    link: https://www.nolo.com/legal-encyclopedia/top-tax-deductions-small-business-30176.html
    icon: sproutOutline
    category: 5
  -
    name: How to Form an LLC in Pennsylvania
    link: https://www.nolo.com/legal-encyclopedia/pennsylvania-form-llc-32189.html
    icon: sproutOutline
    category: 5
  -
    name: llc philadelphia
    link: https://www.youtube.com/results?search_query=llc+philadelphia
    icon: sproutOutline
    category: 5
  -
    name: Pennsylvania LLC - Certificate of Organization
    link: https://www.youtube.com/watch?v=zwo7XeR4YfQ
    icon: sproutOutline
    category: 5
  -
    name: How to file Pennsylvania LLC Certificate of Organization
    link: https://www.llcuniversity.com/pennsylvania-llc/forms/
    icon: sproutOutline
    category: 5
  -
    name: Paying Estimated Taxes
    link: https://www.nolo.com/legal-encyclopedia/paying-estimated-taxes-30084.html
    icon: sproutOutline
    category: 5
  -
    name: How LLC Members Are Taxed
    link: https://www.nolo.com/legal-encyclopedia/how-llcs-are-taxed-29675.html
    icon: sproutOutline
    category: 5
  -
    name: How to Incorporate for Successful Freelancers (In 4 Steps)
    link: http://theremotelifestyle.com/how-to-incorporate-for-freelancers/
    icon: sproutOutline
    category: 5
  #
  # Finance
  #

# http://www.ccianet.org/" >CCIA | Computer and Communications Industry Association
