---
DisabledSearchAutoFocus: false
EnableEncryptedLink: false
Footer: 由 <a href="https://github.com/soulteary/docker-flare">Flare</a> ❤️ 强力驱动
Greetings: Wazzup, Dog!
HideHelpButton: false
HideSettingButton: false
IconMode: DEFAULT
KeepLetterCase: true
Location: 费城
OpenAppNewTab: true
OpenBookmarkNewTab: true
ShowApps: true
ShowBookmarks: true
ShowDateTime: false
ShowSearchComponent: true
ShowTitle: true
ShowWeather: false
Theme: lime
Title: My Bookmarks!
