---
version: '3'

volumes:
  {{ linkace_volume }}_backups:
    driver: local
  {{ linkace_volume }}_logs:
    driver: local
  {{ linkace_volume }}_mariadb:
    driver: local

services:
  app:
    image: linkace/linkace:simple
    container_name: linkace
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik_default
      - linkace_default
    depends_on:
      - mariadb
    volumes:
      - ./.env:/app/.env
      - {{ linkace_volume }}_backups:/app/storage/app/backups
      - {{ linkace_volume }}_logs:/app/storage/logs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.linkace.entrypoints=http"
      - "traefik.http.routers.linkace.rule=Host(`{{ linkace_uri }}`)"
      - "traefik.http.middlewares.linkace-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.linkace.middlewares=linkace-https-redirect"
      - "traefik.http.routers.linkace-secure.entrypoints=https"
      - "traefik.http.routers.linkace-secure.rule=Host(`{{ linkace_uri }}`)"
      - "traefik.http.routers.linkace-secure.tls=true"
      - "traefik.http.routers.linkace-secure.service=linkace"
      - "traefik.http.services.linkace.loadbalancer.server.port={{ linkace_port }}"
      - "traefik.docker.network=traefik_default"

  mariadb:
    image: mariadb:10.7
    container_name: linkace-mariadb
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - linkace_default
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_bin
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
    volumes:
      - {{ linkace_volume }}_mariadb:/var/lib/mysql

networks:
  traefik_default:
    external: true
  linkace_default:
