---
services:
  dozzle:
    image: amir20/dozzle:{{ dozzle_image_version }}
    container_name: dozzle
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik_default
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      DOZZLE_LEVEL: trace
      DOZZLE_NO_ANALYTICS: false
      DOZZLE_REMOTE_AGENT: {{ dozzle_remote_agents | join(',') }}
    # See https://dozzle.dev/guide/healthcheck#enabling-healthcheck
    healthcheck:
      test: [ "CMD", "/dozzle", "healthcheck" ]
      interval: 3s
      timeout: 30s
      retries: 5
      start_period: 30s
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dozzle.entrypoints=http"
      - "traefik.http.routers.dozzle.rule=Host(`{{ dozzle_uri }}`)"
      - "traefik.http.middlewares.dozzle-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.dozzle.middlewares=dozzle-https-redirect"
      - "traefik.http.routers.dozzle-secure.entrypoints=https"
      - "traefik.http.routers.dozzle-secure.rule=Host(`{{ dozzle_uri }}`)"
      - "traefik.http.routers.dozzle-secure.tls=true"
      - "traefik.http.routers.dozzle-secure.service=dozzle"
      - "traefik.http.services.dozzle.loadbalancer.server.port={{ dozzle_server_port }}"
      - "traefik.docker.network=traefik_default"

networks:
  traefik_default:
    external: true
