---
services:
  tailscale:
    image: ghcr.io/tailscale/tailscale:latest
    container_name: tailscale
    restart: unless-stopped
    hostname: {{ inventory_hostname_short }}
    network_mode: host
    privileged: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
      - SYS_MODULE
    environment:
      TS_ACCEPT_DNS: true
      TS_AUTHKEY: {{ tailscale_authkey }}
      TS_HOSTNAME: {{ inventory_hostname_short }}
      TS_ROUTES: {{ tailscale_routes }}
      TS_STATE_DIR: /var/lib/tailscale
      TS_USERSPACE: false
    volumes:
      - {{ tailscale_directory }}/data/:/var/lib/tailscale
      - {{ tailscale_directory }}/state/:/var/run/tailscale
    devices:
      - /dev/net/tun:/dev/net/tun
