# See
# - https://docs.oracle.com/en-us/iaas/Content/API/Concepts/apisigningkey.htm#two
# - https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/clicontainer.htm
[DEFAULT]
user={{ oci_user }}
fingerprint={{ oci_fingerprint }}
tenancy={{ oci_tenancy }}
region={{ oci_region }}
key_file=~/.oci/my.pem
