---
version: "3"

services:
  homer:
    image: b4bz/homer:latest
    container_name: homer
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik_default
    volumes:
      - {{ homer_directory }}/assets:/www/assets
      - {{ homer_directory }}/config.yml:/www/assets/config.yml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homer.entrypoints=http"
      - "traefik.http.routers.homer.rule=Host(`{{ homer_uri }}`)"
      - "traefik.http.middlewares.homer-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.homer.middlewares=homer-https-redirect"
      - "traefik.http.routers.homer-secure.entrypoints=https"
      - "traefik.http.routers.homer-secure.rule=Host(`{{ homer_uri }}`)"
      - "traefik.http.routers.homer-secure.tls=true"
      - "traefik.http.routers.homer-secure.service=homer"
      - "traefik.http.services.homer.loadbalancer.server.port={{ homer_port }}"
      - "traefik.docker.network=traefik_default"

networks:
  traefik_default:
    external: true
