---
services:
  # Indexer Manager
  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    hostname: prowlarr
    restart: unless-stopped
    networks:
      - traefik_default
    ports:
      - "{{ prowlarr_port }}:{{ prowlarr_port }}"
    volumes:
      - {{ arr_directory }}/prowlarr/config:/config
      - {{ arr_directory }}/prowlarr/backup:/data/Backup
      - {{ arr_directory }}/downloads:/downloads
    environment:
      PUID: {{ arr_puid }}
      PGID: {{ arr_pgid }}
      TZ: {{ global_tz }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.prowlarr.entrypoints=http"
      - "traefik.http.routers.prowlarr.rule=Host(`{{ prowlarr_uri }}`)"
      - "traefik.http.middlewares.prowlarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.prowlarr.middlewares=prowlarr-https-redirect"
      - "traefik.http.routers.prowlarr-secure.entrypoints=https"
      - "traefik.http.routers.prowlarr-secure.rule=Host(`{{ prowlarr_uri }}`)"
      - "traefik.http.routers.prowlarr-secure.tls=true"
      - "traefik.http.routers.prowlarr-secure.service=prowlarr"
      - "traefik.http.services.prowlarr.loadbalancer.server.port={{ prowlarr_port }}"
      - "traefik.docker.network=traefik_default"

  # TV Show Manager
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    hostname: sonarr
    restart: unless-stopped
    networks:
      - traefik_default
    ports:
      - "{{ sonarr_port }}:{{ sonarr_port }}"
    volumes:
      - {{ arr_directory }}/sonarr/config:/config
      - {{ arr_directory }}/sonarr/backup:/data/Backup
      - {{ arr_directory }}/sonarr/tvshows:/data/tvshows
      - {{ arr_directory }}/downloads:/downloads
    environment:
      PUID: {{ arr_puid }}
      PGID: {{ arr_pgid }}
      TZ: {{ global_tz }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.entrypoints=http"
      - "traefik.http.routers.sonarr.rule=Host(`{{ sonarr_uri }}`)"
      - "traefik.http.middlewares.sonarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.sonarr.middlewares=sonarr-https-redirect"
      - "traefik.http.routers.sonarr-secure.entrypoints=https"
      - "traefik.http.routers.sonarr-secure.rule=Host(`{{ sonarr_uri }}`)"
      - "traefik.http.routers.sonarr-secure.tls=true"
      - "traefik.http.routers.sonarr-secure.service=sonarr"
      - "traefik.http.services.sonarr.loadbalancer.server.port={{ sonarr_port }}"
      - "traefik.docker.network=traefik_default"

  # Movie Manager
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    hostname: radarr
    restart: unless-stopped
    networks:
      - traefik_default
    ports:
      - "{{ radarr_port }}:{{ radarr_port }}"
    volumes:
      - {{ arr_directory }}/radarr/config:/config
      - {{ arr_directory }}/radarr/movies:/data/movies
      - {{ arr_directory }}/radarr/backup:/data/Backup
      - {{ arr_directory }}/downloads:/downloads
    environment:
      PUID: {{ arr_puid }}
      PGID: {{ arr_pgid }}
      TZ: {{ global_tz }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.entrypoints=http"
      - "traefik.http.routers.radarr.rule=Host(`{{ radarr_uri }}`)"
      - "traefik.http.middlewares.radarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.radarr.middlewares=radarr-https-redirect"
      - "traefik.http.routers.radarr-secure.entrypoints=https"
      - "traefik.http.routers.radarr-secure.rule=Host(`{{ radarr_uri }}`)"
      - "traefik.http.routers.radarr-secure.tls=true"
      - "traefik.http.routers.radarr-secure.service=radarr"
      - "traefik.http.services.radarr.loadbalancer.server.port={{ radarr_port }}"
      - "traefik.docker.network=traefik_default"

  # Music Manager
  lidarr:
    image: linuxserver/lidarr:latest
    container_name: lidarr
    hostname: lidarr
    restart: unless-stopped
    networks:
      - traefik_default
    ports:
      - "{{ lidarr_port }}:{{ lidarr_port }}"
    volumes:
      - {{ arr_directory }}/lidarr/config:/config
      - {{ arr_directory }}/lidarr/music:/data/musicfolder
      - {{ arr_directory }}/lidarr/backup:/data/Backup
      - {{ arr_directory }}/downloads:/downloads
    environment:
      PUID: {{ arr_puid }}
      PGID: {{ arr_pgid }}
      TZ: {{ global_tz }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lidarr.entrypoints=http"
      - "traefik.http.routers.lidarr.rule=Host(`{{ lidarr_uri }}`)"
      - "traefik.http.middlewares.lidarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.lidarr.middlewares=lidarr-https-redirect"
      - "traefik.http.routers.lidarr-secure.entrypoints=https"
      - "traefik.http.routers.lidarr-secure.rule=Host(`{{ lidarr_uri }}`)"
      - "traefik.http.routers.lidarr-secure.tls=true"
      - "traefik.http.routers.lidarr-secure.service=lidarr"
      - "traefik.http.services.lidarr.loadbalancer.server.port={{ lidarr_port }}"
      - "traefik.docker.network=traefik_default"

  # Book Manager
  lazylibrarian:
    image: lscr.io/linuxserver/lazylibrarian:latest
    container_name: lazylibrarian
    hostname: lidarr
    restart: unless-stopped
    networks:
      - traefik_default
    ports:
      - "{{ lazylibrarian_port }}:{{ lazylibrarian_port }}"
    volumes:
      - {{ arr_directory }}/lazylibrarian/config:/config
      - {{ arr_directory }}/lazylibrarian/backup:/data/Backup
      - {{ arr_directory }}/downloads:/downloads
      - /mnt/books:/books
    environment:
      PUID: {{ arr_puid }}
      PGID: {{ arr_pgid }}
      TZ: {{ global_tz }}
      DOCKER_MODS: linuxserver/mods:universal-calibre|linuxserver/mods:lazylibrarian-ffmpeg
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.lazylibrarian.entrypoints=http"
      - "traefik.http.routers.lazylibrarian.rule=Host(`{{ lazylibrarian_uri }}`)"
      - "traefik.http.middlewares.lazylibrarian-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.lazylibrarian.middlewares=lazylibrarian-https-redirect"
      - "traefik.http.routers.lazylibrarian-secure.entrypoints=https"
      - "traefik.http.routers.lazylibrarian-secure.rule=Host(`{{ lazylibrarian_uri }}`)"
      - "traefik.http.routers.lazylibrarian-secure.tls=true"
      - "traefik.http.routers.lazylibrarian-secure.service=lazylibrarian"
      - "traefik.http.services.lazylibrarian.loadbalancer.server.port={{ lazylibrarian_port }}"
      - "traefik.docker.network=traefik_default"

  # Subtitle Downloader
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    hostname: bazarr
    restart: unless-stopped
    networks:
      - traefik_default
    ports:
      - "{{ bazarr_port }}:{{ bazarr_port }}"
    volumes:
      - {{ arr_directory }}/bazarr/config:/config
      - /mnt/movies:/movies
      - /mnt/tv:/tv
    environment:
      PUID: {{ arr_puid }}
      PGID: {{ arr_pgid }}
      TZ: {{ global_tz }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bazarr.entrypoints=http"
      - "traefik.http.routers.bazarr.rule=Host(`{{ bazarr_uri }}`)"
      - "traefik.http.middlewares.bazarr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.bazarr.middlewares=bazarr-https-redirect"
      - "traefik.http.routers.bazarr-secure.entrypoints=https"
      - "traefik.http.routers.bazarr-secure.rule=Host(`{{ bazarr_uri }}`)"
      - "traefik.http.routers.bazarr-secure.tls=true"
      - "traefik.http.routers.bazarr-secure.service=bazarr"
      - "traefik.http.services.bazarr.loadbalancer.server.port={{ bazarr_port }}"
      - "traefik.docker.network=traefik_default"

  whisparr:
    # image: ghcr.io/thespad/whisparr:latest
    image: ghcr.io/hotio/whisparr
    container_name: whisparr
    hostname: whisparr
    restart: unless-stopped
    networks:
      - traefik_default
    ports:
      - "{{ whisparr_port }}:{{ whisparr_port }}"
    volumes:
      - {{ arr_directory }}/whisparr/config:/config
      - /mnt/stash/downloads:/downloads
    environment:
      PUID: {{ arr_puid }}
      PGID: {{ arr_pgid }}
      TZ: {{ global_tz }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whisparr.entrypoints=http"
      - "traefik.http.routers.whisparr.rule=Host(`{{ whisparr_uri }}`)"
      - "traefik.http.middlewares.whisparr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.whisparr.middlewares=whisparr-https-redirect"
      - "traefik.http.routers.whisparr-secure.entrypoints=https"
      - "traefik.http.routers.whisparr-secure.rule=Host(`{{ whisparr_uri }}`)"
      - "traefik.http.routers.whisparr-secure.tls=true"
      - "traefik.http.routers.whisparr-secure.service=whisparr"
      - "traefik.http.services.whisparr.loadbalancer.server.port={{ whisparr_port }}"
      - "traefik.docker.network=traefik_default"

  # Download Manager
  qbittorrent:
    image: linuxserver/qbittorrent:latest
    container_name: qbittorrent
    hostname: qbittorrent
    restart: unless-stopped
    networks:
      - traefik_default
    ports:
      - {{ qbittorrent_web_port }}:{{ qbittorrent_web_port}}
      - {{ qbittorrent_torrent_port }}:{{ qbittorrent_torrent_port}}
      - {{ qbittorrent_torrent_port }}:{{ qbittorrent_torrent_port}}/udp
    volumes:
      - {{ arr_directory }}/qbittorrent/config:/config
      - {{ arr_directory }}/downloads:/downloads
    environment:
      PUID: {{ arr_puid }}
      PGID: {{ arr_pgid }}
      TZ: {{ global_tz }}
      WEBUI_PORT: {{ qbittorrent_web_port }}
      TORRENTING_PORT: {{ qbittorrent_torrent_port }}
    healthcheck:
      start_period: 15s
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.qbittorrent.entrypoints=http"
      - "traefik.http.routers.qbittorrent.rule=Host(`{{ qbittorrent_uri }}`)"
      - "traefik.http.middlewares.qbittorrent-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.qbittorrent.middlewares=qbittorrent-https-redirect"
      - "traefik.http.routers.qbittorrent-secure.entrypoints=https"
      - "traefik.http.routers.qbittorrent-secure.rule=Host(`{{ qbittorrent_uri }}`)"
      - "traefik.http.routers.qbittorrent-secure.tls=true"
      - "traefik.http.routers.qbittorrent-secure.service=qbittorrent"
      - "traefik.http.services.qbittorrent.loadbalancer.server.port={{ qbittorrent_web_port }}"
      - "traefik.docker.network=traefik_default"

  # CAPTCHA Solver for Cloudflare Protected Sites (consider Byparr)
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    hostname: flaresolverr
    restart: unless-stopped
    networks:
      - traefik_default
    ports:
      - "{{ flaresolverr_port }}:{{ flaresolverr_port }}"
    volumes:
      - {{ arr_directory }}/flaresolverr:/config
    environment:
      CAPTCHA_SOLVER: none
      LOG_FILE: none
      LOG_HTML: false
      LOG_LEVEL: info
      PUID: {{ arr_puid }}
      PGID: {{ arr_pgid }}
      TZ: {{ global_tz }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flaresolverr.entrypoints=http"
      - "traefik.http.routers.flaresolverr.rule=Host(`{{ flaresolverr_uri }}`)"
      - "traefik.http.middlewares.flaresolverr-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.flaresolverr.middlewares=flaresolverr-https-redirect"
      - "traefik.http.routers.flaresolverr-secure.entrypoints=https"
      - "traefik.http.routers.flaresolverr-secure.rule=Host(`{{ flaresolverr_uri }}`)"
      - "traefik.http.routers.flaresolverr-secure.tls=true"
      - "traefik.http.routers.flaresolverr-secure.service=flaresolverr"
      - "traefik.http.services.flaresolverr.loadbalancer.server.port={{ flaresolverr_port }}"
      - "traefik.docker.network=traefik_default"

networks:
  traefik_default:
    external: true
