---
version: '3'

services:
  loki:
    image: grafana/loki:2.6.1
    container_name: loki
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "{{ loki_port }}:{{ loki_port }}"
    volumes:
      - "{{ loki_directory }}/local-config.yaml:/etc/loki/config.yml"
    command: -config.file=/etc/loki/local-config.yaml

  # promtail:
  #   image: grafana/promtail:2.6.1
  #   restart: unless-stopped
  #   security_opt:
  #     - no-new-privileges:true
  #   volumes:
  #     - /var/log:/var/log
  #   command: -config.file=/etc/promtail/config.yml
