---
version: '3'

volumes:
  {{ navidrome_volume }}:
    driver: local

services:
  navidrome:
    image: deluan/navidrome:{{ navidrome_image_version }}
    container_name: navidrome
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik_default
    volumes:
      - {{ navidrome_volume }}:/data
      - /mnt/music:/music:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.navidrome.entrypoints=http"
      - "traefik.http.routers.navidrome.rule=Host(`{{ navidrome_uri }}`)"
      - "traefik.http.middlewares.navidrome-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.navidrome.middlewares=navidrome-https-redirect"
      - "traefik.http.routers.navidrome-secure.entrypoints=https"
      - "traefik.http.routers.navidrome-secure.rule=Host(`{{ navidrome_uri }}`)"
      - "traefik.http.routers.navidrome-secure.tls=true"
      - "traefik.http.routers.navidrome-secure.service=navidrome"
      - "traefik.http.services.navidrome.loadbalancer.server.port={{ navidrome_port }}"
      - "traefik.docker.network=traefik_default"

networks:
  traefik_default:
    external: true
