---
services:
  watch-your-lan:
    image: aceberg/watchyourlan
    container_name: watch-your-lan
    restart: unless-stopped
    networks:
      - traefik_default
    environment:
      IFACES: eth0
      # ARP_ARGS: "-r 1"
      ARP_STRS_JOINED: "-gNx 192.168.136.0/24 -I eth0, -gNx 172.18.0.5/24 -I eth0"
      LOG_LEVEL: debug
      PROMETHEUS_ENABLE: true
      TZ: America/New_York
      THEME: solar
    volumes:
      - {{ wyl_directory }}/data:/data/WatchYourLAN
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wyl.entrypoints=http"
      - "traefik.http.routers.wyl.rule=Host(`{{ wyl_uri }}`)"
      - "traefik.http.middlewares.wyl-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.wyl.middlewares=wyl-https-redirect"
      - "traefik.http.routers.wyl-secure.entrypoints=https"
      - "traefik.http.routers.wyl-secure.rule=Host(`{{ wyl_uri }}`)"
      - "traefik.http.routers.wyl-secure.tls=true"
      - "traefik.http.routers.wyl-secure.service=wyl"
      - "traefik.http.services.wyl.loadbalancer.server.port={{ wyl_port }}"
      - "traefik.docker.network=traefik_default"

networks:
  traefik_default:
    external: true
