---
services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:{{ mealie_version }}
    container_name: mealie
    restart: unless-stopped
    networks:
      - traefik_default
    volumes:
      - {{ mealie_directory }}/data:/app/data
    ports:
      - {{ mealie_port }}:{{ mealie_port }}
    deploy:
      resources:
        limits:
          memory: 1000M
    environment:
      ALLOW_SIGNUP: false
      PUID: {{ mealie_PUID }}
      PGID: {{ mealie_GUID }}
      TZ: {{ global_tz }}
      BASE_URL: https://{{ mealie_uri }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mealie.entrypoints=http"
      - "traefik.http.routers.mealie.rule=Host(`{{ mealie_uri }}`)"
      - "traefik.http.middlewares.mealie-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.mealie.middlewares=mealie-https-redirect"
      - "traefik.http.routers.mealie-secure.entrypoints=https"
      - "traefik.http.routers.mealie-secure.rule=Host(`{{ mealie_uri }}`)"
      - "traefik.http.routers.mealie-secure.tls=true"
      - "traefik.http.routers.mealie-secure.service=mealie"
      - "traefik.http.services.mealie.loadbalancer.server.port={{ mealie_port }}"
      - "traefik.docker.network=traefik_default"

networks:
  traefik_default:
    external: true
