---
version: '3'

volumes:
  {{ bookstack_volume }}:
    driver: local
  {{ bookstack_volume }}_mariadb:
    driver: local

services:
  bookstack:
    image: lscr.io/linuxserver/bookstack
    container_name: bookstack
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik_default
      - bookstack_default
    volumes:
      - {{ bookstack_volume }}:/config
    environment:
      PUID: 1000
      PGID: 1000
      APP_URL: https://{{ bookstack_uri }}
      DB_HOST: bookstack_db
      DB_USER: bookstack
      DB_PASS: {{ bookstack_db_pwd }}
      DB_DATABASE: bookstackapp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.bookstack.entrypoints=http"
      - "traefik.http.routers.bookstack.rule=Host(`{{ bookstack_uri }}`)"
      - "traefik.http.middlewares.bookstack-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.bookstack.middlewares=bookstack-https-redirect"
      - "traefik.http.routers.bookstack-secure.entrypoints=https"
      - "traefik.http.routers.bookstack-secure.rule=Host(`{{ bookstack_uri }}`)"
      - "traefik.http.routers.bookstack-secure.tls=true"
      - "traefik.http.routers.bookstack-secure.service=bookstack"
      - "traefik.http.services.bookstack.loadbalancer.server.port={{ bookstack_port }}"
      - "traefik.docker.network=traefik_default"
    depends_on:
      - bookstack_db

  bookstack_db:
    image: lscr.io/linuxserver/mariadb
    container_name: bookstack_mariadb
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - bookstack_default
    volumes:
      - {{ bookstack_volume }}_mariadb:/config
    environment:
      PUID: 1000
      PGID: 1000
      MYSQL_ROOT_PASSWORD: {{ bookstack_db_pwd }}
      TZ: America/NewYork
      MYSQL_USER: bookstack
      MYSQL_PASSWORD: {{ bookstack_db_pwd }}
      MYSQL_DATABASE: bookstackapp

networks:
  traefik_default:
    external: true
  bookstack_default:
