---
- name: Install dependencies
  ansible.builtin.apt:
    name: "{{ docker_pkgs_dependencies }}"
    state: present

- name: Add Docker apt key
  ansible.builtin.get_url:
    url: "{{ docker_apt_gpg_key }}"
    dest: /etc/apt/trusted.gpg.d/docker.asc
    mode: 0644
    force: true

- name: Add Docker repository
  ansible.builtin.apt_repository:
    repo: "{{ docker_apt_repository }}"
    state: present
    update_cache: true

- name: Update apt caches
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: "{{ apt_cache_time }}"

- name: Install Docker
  ansible.builtin.apt:
    name: "{{ docker_pkgs }}"
    state: present
  notify: restart docker

- name: Ensure /etc/docker/ directory exists
  ansible.builtin.file:
    path: /etc/docker
    state: directory
    mode: 0755

- name: Configure Docker daemon options
  ansible.builtin.copy:
    content: "{{ docker_daemon_options | to_nice_json }}"
    dest: /etc/docker/daemon.json
    mode: 0644
  notify: restart docker

- name: Uninstall conflicting packages
  ansible.builtin.apt:
    pkg:
      - apparmor
    state: absent
    purge: true

- name: Schedule docker pruning cron job
  ansible.builtin.copy:
    dest: /etc/cron.daily/docker-system-prune
    content: |
      #!/bin/sh
      # Run docker system prune with force (-f) to avoid confirmation prompts
      # and --volumes to also prune anonymous volumes.
      # The --filter "until=24h" only prunes resources older than 24 hours.
      docker system prune -af --volumes --filter "until=24h"
    owner: root
    group: root
    mode: 0755
