# NOTE:
# 1. Rename file to "credentials.ini"
# 2. Fill below with appropriate values
# 3. Profit!
[proxmox]
url=https://my-proxmox-server:8006
host=my-proxmox-server
user=root@pam
password=MY-SUPER-DUPER-PASSWORD

[cloudflare]
email=joe@hancock.com
api_token=MY-SUPER-DUPER-TOKEN
domain=MY-SUPER-DUPER-DOMAIN

[tailscale]
# Notes:
# Tailscale:
#   - https://login.tailscale.com/admin/settings/keys
#   - Expires on "expire on XXX XX, 20XX" (90 days)
# Cloudflare:
#   - https://dash.cloudflare.com/profile/api-tokens
tailscale_api_key=MY-SUPER-DUPER-VALUE
tailnet_name=MY-SUPER-DUPER-VALUE
cloudflare_api_token=MY-SUPER-DUPER-VALUE

[outline]
secret_key=MY-SUPER-DUPER-VALUE
utils_secret=MY-SUPER-DUPER-VALUE

[slack]
client_id=MY-SUPER-DUPER-VALUE
client_secret=MY-SUPER-DUPER-VALUE

[google]
client_id=MY-SUPER-DUPER-VALUE
client_secret=MY-SUPER-DUPER-VALUE

[homepage]
proxmox_user=MY-SUPER-DUPER-VALUE
proxmox_secret=MY-SUPER-DUPER-VALUE
portainer_token=MY-SUPER-DUPER-VALUE
openweathermap_api=MY-SUPER-DUPER-VALUE
synology_username=MY-SUPER-DUPER-VALUE
synology_password=MY-SUPER-DUPER-VALUE
plex_token=MY-SUPER-DUPER-VALUE
grafana_username=MY-SUPER-DUPER-VALUE
grafana_password=MY-SUPER-DUPER-VALUE

[cloudflare-ddns]
account_api_token=MY-SUPER-DUPER-VALUE
zone=MY-SUPER-DUPER-VALUE
subdomain=MY-SUPER-DUPER-VALUE

[glances]
username=MY-SUPER-DUPER-VALUE
password=MY-SUPER-DUPER-VALUE
password_file_hash=MY-SUPER-DUPER-VALUE

[atuin]
atuin_db_username=MY-SUPER-DUPER-VALUE
atuin_db_password=MY-SUPER-DUPER-VALUE
atuin_db_name=MY-SUPER-DUPER-VALUE

[speedtest-tracker]
app_key=MY-SUPER-DUPER-VALUE

[tailscale-lxc]
auth_key=MY-SUPER-DUPER-VALUE

[oci]
oci_compartment_id=MY-SUPER-DUPER-VALUE
oci_fingerprint=MY-SUPER-DUPER-VALUE
oci_namespace=MY-SUPER-DUPER-VALUE
oci_region=MY-SUPER-DUPER-VALUE
oci_tenancy=MY-SUPER-DUPER-VALUE
oci_user=MY-SUPER-DUPER-VALUE
