# NOTE:
# 1. Rename file to "credentials.ini"
# 2. Fill below with appropriate values
# 3. Profit!
[proxmox]
url=https://my-proxmox-server:8006
host=my-proxmox-server
user=root@pam
password=MY-SUPER-DUPER-PASSWORD

[cloudflare]
email=joe@hancock.com
api_token=MY-SUPER-DUPER-TOKEN
domain=MY-SUPER-DUPER-DOMAIN

[tailscale]
# Notes:
# Tailscale:
#   - https://login.tailscale.com/admin/settings/keys
#   - Expires on "expire on XXX XX, 20XX" (90 days)
# Cloudflare:
#   - https://dash.cloudflare.com/profile/api-tokens
tailscale_api_key=MY-SUPER-DUPER-API-KEY
tailnet_name=MY-SUPER-DUPER-TAILNET
cloudflare_api_token=MY-SUPER-DUPER-API-TOKEN

[tailscale]
authkey=MY-SUPER-DUPER-AUTH-KEY

[outline]
secret_key=MY-SUPER-DUPER-OUTLINE-KEY
utils_secret=MY-SUPER-DUPER-OUTLINE-SECRET

[slack]
client_id=MY-SUPER-DUPER-SLACK-ID
client_secret=MY-SUPER-DUPER-SLACK-SECRET

[google]
client_id=MY-SUPER-DUPER-GOOGLE-ID
client_secret=MY-SUPER-DUPER-GOOGLE-SECRET
