---
- name: RPis provisioning
  hosts: rpi
  become: true
  gather_facts: true
  tasks:
    # ? Base OS install + fixings
    - name: Install Ubuntu base
      ansible.builtin.include_role:
        name: base_24
      vars:
        is_hardware: true

    - name: Install modern Unix utilities
      ansible.builtin.include_role:
        name: modern_unix

    # ? Docker daemon + docker compose apps
    - name: Install Docker
      ansible.builtin.include_role:
        name: docker
