---
version: '3'

services:
  wud:
    image: fmartinou/whats-up-docker
    container_name: wud
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik_default
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.wud.entrypoints=http"
      - "traefik.http.routers.wud.rule=Host(`{{ wud_uri }}`)"
      - "traefik.http.middlewares.wud-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.wud.middlewares=wud-https-redirect"
      - "traefik.http.routers.wud-secure.entrypoints=https"
      - "traefik.http.routers.wud-secure.rule=Host(`{{ wud_uri }}`)"
      - "traefik.http.routers.wud-secure.tls=true"
      - "traefik.http.routers.wud-secure.service=wud"
      - "traefik.http.services.wud.loadbalancer.server.port={{ wud_port }}"
      - "traefik.docker.network=traefik_default"

networks:
  traefik_default:
    external: true
