---
version: '3'

volumes:
  {{ whoishomeui_volume }}:
    driver: local

services:
  whoishomeui:
    # network_mode: "host"
    container_name: whoishomeui
    build: .
    command: sh -c "python manage.py migrate --noinput && python manage.py runserver 0.0.0.0:{{ whoishomeui_port }}"
    restart: unless-stopped
    networks:
      - traefik_default
    environment:
      - WHOIH_PORT={{ whoishomeui_port }}
      - WHOIH_TZ={{ whoishomeui_tz }}
      - DJANGO_TZ={{ whoishomeui_tz }}
      - DJANGO_DBPATH=/dbstore/db.sqlite3
    volumes:
      - {{ whoishomeui_volume }}:/dbstore
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoishomeui.entrypoints=http"
      - "traefik.http.routers.whoishomeui.rule=Host(`{{ whoishomeui_uri }}`)"
      - "traefik.http.middlewares.whoishomeui-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.whoishomeui.middlewares=whoishomeui-https-redirect"
      - "traefik.http.routers.whoishomeui-secure.entrypoints=https"
      - "traefik.http.routers.whoishomeui-secure.rule=Host(`{{ whoishomeui_uri }}`)"
      - "traefik.http.routers.whoishomeui-secure.tls=true"
      - "traefik.http.routers.whoishomeui-secure.service=whoishomeui"
      - "traefik.http.services.whoishomeui.loadbalancer.server.port={{ whoishomeui_port }}"
      - "traefik.docker.network=traefik_default"

  scanner:
    # network_mode: "host"
    image: curlimages/curl
    command: sh -c "sleep 60s && curl -s http://0.0.0.0:{{ whoishomeui_port }}/scan/"
    restart: unless-stopped

networks:
  traefik_default:
    external: true
