---
- name: Copy profile.d files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/etc/profile.d/{{ item }}"
    owner: root
    group: root
    mode: 0755
  loop:
    - 10-prompt.sh

- name: Copy default .bashrc files
  ansible.builtin.copy:
    src: _bashrc
    dest: "{{ item.path }}"
    owner: "{{ item.user }}"
    group: "{{ item.user }}"
    mode: 0644
  loop:
    -
      path: '/etc/skel/.bashrc'
      user: 'root'
    -
      path: '/root/.bashrc'
      user: 'root'

- name: Check for ubuntu user
  ansible.builtin.stat:
    path: /home/ubuntu
  register: ubuntu_home

- name: Copy ubuntu .bashrc file
  ansible.builtin.copy:
    src: _bashrc
    dest: /home/ubuntu/.bashrc
    owner: ubuntu
    group: ubuntu
    mode: 0644
  when: not is_lxc and ubuntu_home.stat.exists

- name: Add hostname to /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    regexp: '^127\.0\.1\.1'
    line: "127.0.1.1 {{ inventory_hostname_short }} {{ inventory_hostname_short }}.{{ global_domain }}"
    state: present

- name: Set hostname
  ansible.builtin.hostname:
    name: "{{ inventory_hostname_short }}.{{ global_domain }}"
