---
- name: Setting swap values
  ansible.builtin.set_fact:
    swap_file_path: /swapfile
    swap_size_mb: "{{ ansible_memtotal_mb // 2 }}"
    swappiness_value: 10

- name: Check if swap file already exists
  ansible.builtin.stat:
    path: "{{ swap_file_path }}"
  register: swap_file

- name: Configure swap on first install
  block:

    - name: Create swap file
      ansible.builtin.command:
        argv:
          - dd
          - if=/dev/zero
          - of={{ swap_file_path }}
          - bs=1MiB
          - count={{ swap_size_mb }}
        creates: "{{ swap_file_path }}"

    - name: Set swap file permissions
      ansible.builtin.file:
        path: "{{ swap_file_path }}"
        owner: root
        group: root
        mode: 0600

    - name: Format the file as swap
      ansible.builtin.command:
        cmd: "mkswap {{ swap_file_path }}"
      # noqa: no-changed-when

    - name: Turn on swap
      ansible.builtin.command:
        cmd: swapon -a
      # noqa: no-changed-when

  when: not swap_file.stat.exists

- name: Add swap entry to /etc/fstab
  ansible.posix.mount:
    name: none
    src: "{{ swap_file_path }}"
    fstype: swap
    opts: sw
    passno: 0
    dump: 0
    state: present

- name: Configure swappiness
  ansible.posix.sysctl:
    name: vm.swappiness
    value: "{{ swappiness_value }}"
    state: present
    reload: true
