---
services:
  speedtest:
    image: lscr.io/linuxserver/speedtest-tracker:latest
    container_name: speedtest-tracker
    restart: unless-stopped
    networks:
      - traefik_default
    environment:
      PUID: "1000"
      PGID: "1000"
      APP_KEY: "{{ speedtest_app_key }}"
      DB_CONNECTION: "sqlite"
      PUBLIC_DASHBOARD: "true"
      DEFAULT_CHART_RANGE: "week"
      SPEEDTEST_SERVERS: "29624,30410,38024,53682,29589"
      SPEEDTEST_SCHEDULE: "7,37 * * * *"
    volumes:
      - {{ speedtest_tracker_directory }}/config:/config
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.speedtest.entrypoints=http"
      - "traefik.http.routers.speedtest.rule=Host(`{{ speedtest_tracker_uri }}`)"
      - "traefik.http.middlewares.speedtest-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.speedtest.middlewares=speedtest-https-redirect"
      - "traefik.http.routers.speedtest-secure.entrypoints=https"
      - "traefik.http.routers.speedtest-secure.rule=Host(`{{ speedtest_tracker_uri }}`)"
      - "traefik.http.routers.speedtest-secure.tls=true"
      - "traefik.http.routers.speedtest-secure.service=speedtest"
      - "traefik.http.services.speedtest.loadbalancer.server.port={{ speedtest_tracker_port }}"
      - "traefik.docker.network=traefik_default"

  # # Daily restarts
  # # See: https://gist.github.com/kizzx2/782b500a81ce46b889903b1f80353f21
  # restarter:
  #   image: docker:cli
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - {{ speedtest_tracker_directory }}/docker-compose.yml:/docker-compose.yml:ro
  #   command: ["/bin/sh", "-c", "while true; do sleep 86400; docker compose -p speedtest_tracker restart speedtest; done"]
  #   restart: unless-stopped

networks:
  traefik_default:
    external: true
