# See https://basementprogrammer.com/setting-default-values-for-the-oci-command-line
[DEFAULT]
compartment-id={{ oci_compartment_id }}
namespace-name={{ oci_namespace }}

[OCI_CLI_COMMAND_ALIASES]
ls = list
