---
apt_pkgs_modern:
  - bat
  - bpytop
  - fd-find
  - jq
  - lsd

# amd64 packages
apt_debs_modern_x86_64:
  - https://github.com/BurntSushi/ripgrep/releases/download/15.1.0/ripgrep_15.1.0-1_amd64.deb
  - https://github.com/ClementTsang/bottom/releases/download/0.11.3/bottom_0.11.3-1_amd64.deb
  - https://github.com/bootandy/dust/releases/download/v1.2.3/du-dust_1.2.3-1_amd64.deb
  - https://github.com/dandavison/delta/releases/download/0.18.2/git-delta-musl_0.18.2_amd64.deb
  - https://github.com/muesli/duf/releases/download/v0.9.1/duf_0.9.1_linux_amd64.deb
  - https://github.com/rs/curlie/releases/download/v1.8.2/curlie_1.8.2_linux_amd64.deb

zip_flat_modern_x86_64:
  - https://github.com/dalance/procs/releases/download/v0.14.10/procs-v0.14.10-x86_64-linux.zip
  - https://github.com/jesseduffield/lazydocker/releases/download/v0.24.2/lazydocker_0.24.2_Linux_x86_64.tar.gz
  - https://github.com/junegunn/fzf/releases/download/v0.67.0/fzf-0.67.0-linux_amd64.tar.gz

zip_fat_modern_x86_64:
  -
    url: https://github.com/atuinsh/atuin/releases/download/v18.10.0/atuin-x86_64-unknown-linux-musl.tar.gz
    file: atuin-x86_64-unknown-linux-musl/atuin

# arm64 packages
apt_debs_modern_aarch64:
  - https://github.com/ClementTsang/bottom/releases/download/0.11.3/bottom_0.11.3-1_arm64.deb
  - https://github.com/dandavison/delta/releases/download/0.18.2/git-delta_0.18.2_arm64.deb
  - https://github.com/muesli/duf/releases/download/v0.9.1/duf_0.9.1_linux_arm64.deb
  - https://github.com/rs/curlie/releases/download/v1.8.2/curlie_1.8.2_linux_arm64.deb

zip_flat_modern_aarch64:
  - https://github.com/dalance/procs/releases/download/v0.14.10/procs-v0.14.10-aarch64-linux.zip
  - https://github.com/jesseduffield/lazydocker/releases/download/v0.24.2/lazydocker_0.24.2_Linux_arm64.tar.gz
  - https://github.com/junegunn/fzf/releases/download/v0.67.0/fzf-0.67.0-linux_arm64.tar.gz

zip_fat_modern_aarch64:
  -
    url: https://github.com/bootandy/dust/releases/download/v1.2.3/dust-v1.2.3-aarch64-unknown-linux-musl.tar.gz
    file: dust-v1.2.3-aarch64-unknown-linux-musl/dust
  -
    url: https://github.com/atuinsh/atuin/releases/download/v18.10.0/atuin-aarch64-unknown-linux-musl.tar.gz
    file: atuin-aarch64-unknown-linux-musl/atuin

url_downloads:
  -
    url: https://raw.githubusercontent.com/rcaloras/bash-preexec/master/bash-preexec.sh
    file: ~/.bash-preexec.sh

# File contents
aliases: |
  #
  # Aliases for modern unix packages
  #
  alias lll='lsd -lA'
  alias ll='lsd -lA'
  alias la='lsd'
  alias l='lsd -F'
  alias bat=batcat
  alias b=batcat
  alias fd=fdfind

  # Colorify utils
  alias colourify='/usr/bin/grc -es --colour=auto'
  alias as='colourify as'
  alias blkid='colourify blkid'
  alias df='colourify df'
  alias diff='colourify diff'
  alias dig='colourify dig'
  alias docker-machine='colourify docker-machine'
  alias docker='colourify docker'
  alias du='colourify du'
  alias env='colourify env'
  alias fdisk='colourify fdisk'
  alias findmnt='colourify findmnt'
  alias free='colourify free'
  alias head='colourify head'
  alias id='colourify id'
  alias ifconfig='colourify ifconfig'
  alias ip='colourify ip'
  alias iptables='colourify iptables'
  alias ld='colourify ld'
  alias lsblk='colourify lsblk'
  alias lsof='colourify lsof'
  alias lspci='colourify lspci'
  alias mount='colourify mount'
  alias mtr='colourify mtr'
  alias ping='colourify ping'
  alias ps='colourify ps'
  alias stat='colourify stat'
  alias tail='colourify tail'
  alias traceroute6='colourify traceroute6'
  alias traceroute='colourify traceroute'
  alias uptime='colourify uptime'
  alias whois='colourify whois'

  # Navigation
  alias ..='cd ../'
  alias ...='cd ../../'
  alias .2='cd ../../'
  alias .3='cd ../../../'
  alias .4='cd ../../../../'
  alias .5='cd ../../../../../'
  alias .6='cd ../../../../../../'
  alias 1='cd +1'
  alias 2='cd +2'
  alias 3='cd +3'
  alias 4='cd +4'
  alias 5='cd +5'
  alias 6='cd +6'
  alias 7='cd +7'
  alias 8='cd +8'
  alias 9='cd +9'
  alias '~'='cd ~'

  # Short-cuts
  alias dk=docker
  alias k=kubectl
  alias h=helm
  alias tf=terraform

git_config: |
  [core]
    pager = delta

  [interactive]
    diffFilter = delta --color-only
  [add.interactive]
    useBuiltin = false # required for git 2.37.0

  [delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a
                       # light background color (e.g. the default macOS terminal)

  [merge]
    conflictstyle = diff3

  [diff]
    colorMoved = default

shell_integrations:
  - '# Custom shell integrations from "modern-linux" role'
  - 'eval "$(fzf --bash)"'                                        # Set up fzf key bindings and fuzzy completion
  - ''
  - '[[ -f ~/.bash-preexec.sh ]] && source ~/.bash-preexec.sh'    # bash-exec, pre-requisite for atuin
  - 'eval "$(atuin init bash)"'                                   # Shell history
