---
version: '3'

volumes:
  {{ linkding_volume }}:
    driver: local

services:
  linkding:
    image: sissbruecker/linkding:latest
    container_name: linkding
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    networks:
      - traefik_default
    volumes:
      - {{ linkding_volume }}:/etc/linkding/data
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.linkding.entrypoints=http"
      - "traefik.http.routers.linkding.rule=Host(`{{ linkding_uri }}`)"
      - "traefik.http.middlewares.linkding-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.routers.linkding.middlewares=linkding-https-redirect"
      - "traefik.http.routers.linkding-secure.entrypoints=https"
      - "traefik.http.routers.linkding-secure.rule=Host(`{{ linkding_uri }}`)"
      - "traefik.http.routers.linkding-secure.tls=true"
      - "traefik.http.routers.linkding-secure.service=linkding"
      - "traefik.http.services.linkding.loadbalancer.server.port={{ linkding_port }}"
      - "traefik.docker.network=traefik_default"

networks:
  traefik_default:
    external: true
