{
  "modno": 1,
  "version": 4,
  "instance": "{{ inventory_hostname_short }}",
  "repos": [
    {
      "id": "{{ inventory_hostname_short }}",
      "uri": "/backups/{{ inventory_hostname_short }}",
      "guid": "{{ backrest_guid }}",
      "password": "{{ backrest_password }}",
      "prunePolicy": {
        "schedule": {
          "cron": "{{ backrest_prune_min }} {{ backrest_prune_hour }} * * 0",
          "clock": "CLOCK_LAST_RUN_TIME"
        },
        "maxUnusedPercent": 10
      },
      "checkPolicy": {
        "schedule": {
          "cron": "{{ backrest_check_min }} {{ backrest_check_hour }} * * 3",
          "clock": "CLOCK_LAST_RUN_TIME"
        },
        "readDataSubsetPercent": 0
      },
      "hooks": [
        {
          "conditions": [
            "CONDITION_ANY_ERROR"
          ],
          "actionTelegram": {
            "botToken": "{{ telegram_bot_token }}",
            "chatId": "{{ telegram_chat_id }}",
            "template": "{% raw %}{{ .Summary }}{% endraw %}"
          }
        }
      ],
      "commandPrefix": {}
    }
  ],
  "plans": [
    {
      "id": "backups",
      "repo": "{{ inventory_hostname_short }}",
      "paths": [
        "/opt"
      ],
      "excludes": [
        "containerd",
        "containerd/*",
        "lost+found",
        "lost+found/*"
      ],
      "schedule": {
        "maxFrequencyHours": 4,
        "clock": "CLOCK_LOCAL"
      },
      "retention": {
        "policyTimeBucketed": {
          "hourly": 6,
          "daily": 7,
          "weekly": 4,
          "monthly": 1
        }
      },
      "hooks": [
        {
          "conditions": [
            "CONDITION_ANY_ERROR"
          ],
          "actionTelegram": {
            "botToken": "{{ telegram_bot_token }}",
            "chatId": "{{ telegram_chat_id }}",
            "template": "{% raw %}{{ .Summary }}{% endraw %}"
          }
        }
      ]
    }
  ],
  "auth": {
    "disabled": true
  }
}
